// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
.navbar-brand {
  img {
    width:300px;
  }
}
#main-menu {
  width:100%;
}

@include bg-gen();

//slider
.front-slider {
  max-width:1600px;
  margin:0 auto 40px;
}
.body-slide {
  z-index:1;
  top:0;
  left:0;
  height:100%;
  padding:40px;
  width:60%;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-direction:column;
  h2 {
    text-transform:uppercase;
  }
  a.btn {
    margin-left:auto;
    margin-right:auto;
    padding:10px 40px;
    margin-top:30px;
  }
}

.page__footer {
  background:$blue-dark;
  padding:40px 0;
}

.main-cards {
  .views-field-field-card-image {
    img {
      border-radius:5px 5px 0 0;
    }
  }
  .views-field-body {
    background-color:$gray-500;
  }
}