// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
.navbar-brand {
  img {
    width:300px;
  }
}
#main-menu {
  width:100%;
}

@include bg-gen();

//slider
.front-slider {
  max-width:1600px;
  margin:0 auto 40px;
}
.body-slide {
  z-index:1;
  top:0;
  left:0;
  height:100%;
  padding:40px;
  width:60%;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-direction:column;
  h2 {
    text-transform:uppercase;
    font-size:1.2rem;
    @include media-breakpoint-up(md){
      font-size:1.5rem;
    }
    @include media-breakpoint-up(lg){
      font-size:1.8rem;
    }
    @include media-breakpoint-up(xl){
      font-size:2rem;
    }
  }
  a.btn {
    margin-left:auto;
    margin-right:auto;
    padding:10px 40px;
    margin-top:30px;
    text-transform:uppercase;
  }
}
.slide__field-image {
  min-height:400px;
  @include media-breakpoint-up(lg){
    min-height:600px;
  }
  img {
    object-fit:cover;
    object-position:center;
    transition:all 0.3s ease-in-out 0.3s;
    height:100%;
    position:absolute;
  }
}
.bg-white .slide__body {
  background:rgba(256,256,256,.8);
  padding:35px 30px;
  
}

.center-content-slide {
  .body-slide { 
    width:100%;
    justify-content:flex-start;
  }
}



.btn-red {
  background-color:#c71434;
  color:$white;
  &:hover, &:focus {
    background-color:darken($color:#c71434, $amount: 0.1) ;
    color:$white;
  }
}

.page__footer {
  background:$blue-dark;
  padding:40px 0;
}

.main-cards {
  .views-field-field-card-image {
    img {
      border-radius:5px 5px 0 0;
    }
  }
  .views-field-body {
    background-color:$gray-100;
    flex:1 0 auto;
    padding:20px;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
    .field-content {
      display:flex;
      flex-direction:column;
      height:100%;
      justify-content:space-between;
    }
    .wrap-btn {
      display:flex;
      justify-content:center;
      .btn {
        max-width:160px;
        width:100%
      }
          
    .btn{
    //  background: #333;
  //    color: #ccc;
   //   width: 200px;
  //    height: 60px;
   //   border: 0;
   //   font-size: 18px;
   //   border-radius: 4px;
    //  font-family: 'Raleway', sans-serif;
      transition: .6s;
      overflow: hidden;
      &:focus{
        outline: 0;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }
      &:hover{
      //  background: #338033;
        cursor: pointer;
        &:before{
          transform: translateX(300px)  skewX(-15deg);  
          opacity: 0.6;
          transition: .7s;
        }
        &:after{
          transform: translateX(300px) skewX(-15deg);  
          opacity: 1;
          transition: .7s;
        }
      }
    }
    }
  }
  .owl-wrapper {
    display:flex !important;
    .owl-item {
      display:flex;
      .col-12 {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

#views-bootstrap-slider-logo-owl-block-2 {
  padding:40px 100px;
  background-color:$blue;
  .row {
    text-align:center;
    align-items:center;
  }
}

.contact-block {
  p {
    color:$white;
    margin-bottom:0;
  }
  .phone {
    display:inline-flex;
    align-items:center;
    margin-left:10px;
    img {
      margin-top:2px;
    }
  } 
  a {
    color:$blue-light;
    &:hover, &:focus {
      color:$blue-light;
    }
  }
}

.footer-menu {
  .nav-link {
    color:#fff;
  }
}

.block--alira-page-title {
  h1 {
    margin-bottom:3rem
  }
}
.products-page {
  .products-page__field-file {
    margin-top:2rem;
    .field__item {
      font-size:1.5rem;
    }   
  }
  .list-file-links {
    margin-top:3rem;
    h2 {
      color:$blue;
      margin-bottom:2rem;
    }
  }
}

.references {
  font-size:.8rem;
  color:$gray-600;
  font-weight:300;
  text-align:center;
  width:100%;
  display:inline-block;
}